/* Element Styling */
body {
    margin: 0;
    height: 100dvh;
    overflow-x: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Fustat", serif;
    background-image: url(media/AdobeStock_783626371.jpeg);
    background-size: cover;
    color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    border-bottom: 1px solid  #1a28523e;
    background-color: #d6e0f23e;
    color: #1a2852;
}

h1 {
  font-family: "Funnel Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
}

select {
    width: 200px;
    height: 40px;
    padding: 10px;
    border-radius: 20px;
    transition: all 200ms ease-in-out;
    font-family: "Fustat", serif;
    color: #1a2852;
    border: 1px solid #1a2852;
}

select:hover {
    cursor: pointer;
    background-color: rgb(211, 228, 253);
}

button {
    width: 100%;
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: #1a2852;
    font-family: "Fustat", serif;
    border: none;
    background-size: 200% auto;
    border-radius: 50px;
    transition: all 500ms ease-in-out;
}

button:active {
  scale: .85;
}

button:hover {
    cursor: pointer;
    color: white;
    background-image: linear-gradient(to right, #ffffff70 0%, #6f9dde  51%, #062d68  100%);
    background-position: right center;
}

hr {
    width: 100%;
    margin: 0 auto;
    border: .5px solid #1a28523e;
}

footer {
    text-align: center;
    font-size: 12px;
    color: #1a2852;
}

a {
    color: #213572;
    transition: all 200ms ease-in-out;
}

a:hover {
    color: rgb(186, 185, 185);
}

dotlottie-player {
    background: transparent;
    width: 80px;
    height: 80px;
    margin: -25px 0 0 -25px;
}

video {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/* Class Styling */
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    margin: 0 40px;
    border-radius: 10px;
    background: linear-gradient(
    50deg,
    rgba(255, 255, 255, 0.81) 12%,
    rgba(255, 255, 255, 0.227) 77%);
    box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.sectioned-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selected-city-container{
    padding: 10px 40px;
    border-radius: 10px 0px 0 10px;
    margin-right: 50px;


  background-color: #212024;
  background-image: radial-gradient(
      at 50% 40%,
      #3373f4 0px,
      transparent 85%
    ),
    radial-gradient(at 49% 20%, rgb(70, 119, 224) 0px, transparent 85%),
    radial-gradient(at 14% 46%, #7faaaa 0px, transparent 85%),
    radial-gradient(at 0% 64%, #84a9f3 0px, transparent 85%),
    radial-gradient(at 90% 80%, #b6bfc2 0px, transparent 85%),
    radial-gradient(at 100% 99%, #6e93df 0px, transparent 85%);

    box-shadow: 0px -16px 24px 0px rgba(255, 255, 255, 0.25) inset;

}

.selected-city-name-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
}

.selected-city-video-container {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.154);
}

.selected-city-current-time-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.selected-city-timezone-container {
    display: flex;
    gap: 5px;
    color: rgb(223, 221, 221);
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.listed-city-date-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.date {
    font-size: 20px;
    font-weight: bold;
}

.month, .day {
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
}

.city-name {
    font-weight: bold;
    font-size: 18px;
}

.listed-city-time-container {
    display: flex;
    gap: 2px;
    font-weight: bold;
    align-items: center;
}


.listed-city-current-time {
    font-size: 20px;
}

/* ID Styling */
#selected-city-current-time {
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}

#selected-city-date {
    font-style: italic;
    margin: 0;
}

/* From Uiverse.io by SelfMadeSystem */ 
.container {
  position: absolute;
  inset: 0;
  background: #000;
}




